/* public/css/styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #99bde1; /* Color de fondo para el cuerpo */
}

.header {
    text-align: center;
    background-color: #96bbe1; /* Fondo blanco para el encabezado */
    padding: 5px 0;/* Ajuste de espaciado en el encabezado */
    box-shadow: 0 0 0px rgba(0, 0, 0, 0);
}

.logo {
    max-width: 200px; /* Ancho máximo para el logo */
}

.container {
    max-width: 400px;
    margin: 10px auto; /* Ajuste de margen superior */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="password"] {
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

input[type="submit"] {
    padding: 14px;
    background-color: #0152a9;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
